version: "{{ optional_tasks.compose_file.composeVersion }}"
services:
  radarr:
    image: lscr.io/linuxserver/radarr
    volumes:
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/radarr:/config
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/shared:/shared
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/data:/data
      - "/etc/localtime:/etc/localtime:ro"
    ports:
      - "7878:7878"
    networks:
    - media
    restart: {{ optional_tasks.compose_file.restartPolicy }}
    environment:
      - PUID={{ optional_tasks.compose_file.environment.PUID }}
      - PGID={{ optional_tasks.compose_file.environment.PGID }}
      - TZ="{{ optional_tasks.compose_file.environment.TZ }}"
  sonarr:
    image: lscr.io/linuxserver/sonarr
    volumes:
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/sonarr:/config
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/shared:/shared
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/data:/data
      - "/etc/localtime:/etc/localtime:ro"
    ports:
        - "8989:8989"
    networks:
    - media
    restart: {{ optional_tasks.compose_file.restartPolicy }}
    environment:
      - PUID={{ optional_tasks.compose_file.environment.PUID }}
      - PGID={{ optional_tasks.compose_file.environment.PGID }}
      - TZ="{{ optional_tasks.compose_file.environment.TZ }}"
  jackett:
    image: lscr.io/linuxserver/jackett
    volumes:
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/jackett:/config
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/shared:/shared
      - "/etc/localtime:/etc/localtime:ro"
    ports:
      - "9117:9117"
    networks:
    - media
    environment:
      - PUID={{ optional_tasks.compose_file.environment.PUID }}
      - PGID={{ optional_tasks.compose_file.environment.PGID }}
      - TZ="{{ optional_tasks.compose_file.environment.TZ }}"
    restart: {{ optional_tasks.compose_file.restartPolicy }}
  transmission:
    image: lscr.io/linuxserver/transmission
    environment:
      - PUID={{ optional_tasks.compose_file.environment.PUID }}
      - PGID={{ optional_tasks.compose_file.environment.PGID }}
      - TZ="{{ optional_tasks.compose_file.environment.TZ }}"
      - UMASK_SET=002
{% if optional_tasks.compose_file.transmission.flood.enabled is true %}
      - TRANSMISSION_WEB_HOME=/flood-for-transmission/
{% endif %}
    volumes:
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/transmission:/config
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/shared:/shared
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/torrents:/data/torrents
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    networks:
    - media
    restart: {{ optional_tasks.compose_file.restartPolicy }}
  plex:
    image: plexinc/pms-docker
    volumes:
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/plex:/config
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/shared:/shared
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/data:/media
    environment:
      - TZ="{{ optional_tasks.compose_file.environment.TZ }}"
      - HOSTNAME="{{ optional_tasks.compose_file.environment.PLEX_HOSTNAME }}"
      - PLEX_CLAIM="{{ optional_tasks.compose_file.environment.PLEX_CLAIM }}"
      - PLEX_UID={{ optional_tasks.compose_file.environment.PUID }}
      - PLEX_GID={{ optional_tasks.compose_file.environment.PGID }}
      - ADVERTISE_IP="{{ optional_tasks.compose_file.environment.PLEX_ADVERTISE_IP }}"
    ports:
    - 32400:32400
    - 3005:3005
    - 8324:8324
    - 32469:32469
    - 1900:1900/udp
    - 32410:32410/udp
    - 32412:32412/udp
    - 32413:32413/udp
    - 32414:32414/udp
    networks:
    - media
    restart: {{ optional_tasks.compose_file.restartPolicy }}
  tautulli:
    image: linuxserver/tautulli
    volumes:
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/tautulli/config:/config
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/tautulli/logs:/logs:ro
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/shared:/shared
    ports:
      - "8181:8181"
    networks:
    - media
    environment:
      - PUID={{ optional_tasks.compose_file.environment.PUID }}
      - PGID={{ optional_tasks.compose_file.environment.PGID }}
      - TZ="{{ optional_tasks.compose_file.environment.TZ }}"
    restart: {{ optional_tasks.compose_file.restartPolicy }}
  ombi:
    image: lscr.io/linuxserver/ombi
    environment:
      - PUID={{ optional_tasks.compose_file.environment.PUID }}
      - PGID={{ optional_tasks.compose_file.environment.PGID }}
      - TZ="{{ optional_tasks.compose_file.environment.TZ }}"
    volumes:
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/ombi:/config
    ports:
      - 3579:3579
    networks:
    - media
    restart: {{ optional_tasks.compose_file.restartPolicy }}

networks:
  media:
    name: media
    driver: bridge